section.hero-sectionset-bg
{
 width:120%;
 left: 50%; 
 top: 50%; 
 position: absolute;
 transform: translate(-50%,-50%);
 animation: zoom-out 3s linear infinite; 
}

@keyframes zoom-out {
    
    100% {
        width: 100%;
    }
}
