
  <!-- Breadcrumb Section Begin -->
  <section  class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Activités</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>Nos Activités</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div style="padding: 20%;" class="row row-cols-1 row-cols-md-3 g-4">
    <div  class="card" *ngFor="let activite of listeact">
      <img style="padding: 10%;" class="card-img-top" src={{activite.imageA}}>
      <!-- <img class="card-img-top" src="assets/image/dos.png"> -->
      <div class="card-body">
        <br>
        <h1 style="color: chocolate;" class="card-title"><b>{{activite.nomA}}</b></h1>
        <h5 class="card-title">{{activite.descriptionA}}</h5>
      </div>