<table class="table table-bordered">
    <thead>
        <tr style="background-color: chocolate;">
            <th>Id</th>
            <th>nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let tarif of listetarif" >
        <tr>
            <td> {{tarif.id}}</td>
            <td> {{ tarif.nom }}</td>
            <td> {{ tarif.description }}</td>
            <td> {{ tarif.prix }}</td>
           
            <td>
                <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" (click)="update(tarif)">Modifier</button>
          <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="deleteTarif(tarif.id)" >Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- Membership Section Begin -->
<!-- <section class="membership-section spad">
    <div class="container">
        <div >
            <div >
                <div >
                    <div class="mi-title"*ngFor="let tarif of listetarif">
                        <h4>{{tarif.id}}</h4>
                        <div class="triangle"></div>
                    <h2 class="mi-price">{{tarif.prix}}</h2>
                    <ul>
                        <li>
                            <p>{{tarif.nom}}</p>
                            <span>{{tarif.description}}</span>
                        </li>
                        
                    </ul>
                    <button type="button" class="primary-btn membership-btn" (click)="update(tarif)">Modifier</button>
                    <button type="button" class="primary-btn membership-btn" (click)="deleteTarif(tarif.id)">Supprimer</button><br>
                </div>
            </div>
            </div>
           
               
            
        </div>
    </div>
    <br>
</section> -->
<!-- Membership Section End -->


