
    <html>
        <body>
            <head><title>Login</title>
            <style>
    
    body {
            background-image: url("assets/img/2.png");
            background-size: cover;
            padding: 90px;
            border-bottom:2px solid transparent; 
        }
    .wrap {

    width: 60%;
    height: 120%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    text-align:center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.66);
    border-bottom: 2px solid transparent;
    padding-top: 0%;
    padding: 0cm;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    margin-top: 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 20px;

}
    form {  width: 280px;
            height: 50;
            margin: 0 auto;
            background-repeat: no-repeat;
            /* background:rgb(255, 255, 255);  */
            height: 85%;
            min-height: 80%;
            top: 0;
            left: 0;
            z-index: 99;
            text-align: left;
            text-transform: capitalize;
            border-bottom:2px solid transparent;
            padding-top: 0%;
            padding :0cm;
            -o-transition: all .2s;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            -ms-transition: all .2s;
            margin-top: 1px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            text-align: center;
            border-radius: 1px;
          
        }
        input
      {
        width: 300px;
        height: 20px;
        margin-top: 1px;
        padding: 15px;
        background: #ffffff;
        background: rgba(252, 252, 252, 0.15);
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        text-align: center;
        border-radius: 1px;
        -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
        font-family: 'PT Sans', Helvetica, Arial, sans-serif;
        font-size: 40px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        transition: all .1s;
        -moz-transition: all .1s;
        -webkit-transition: all .1s;
        -ms-transition: all .1s;
        position: relative;
    
      }
      form.user input[type="text"], form.user input[type="password"]
{
    width:300px;
    height:42px;
    margin-top:25px;
    padding:0 15px;
    background:#2d2d2d;
    background:rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    text-align:center;
    border-radius:6px;
    border:1px solid #3d3d3d;
    border:1px solid rgba(255,255,255,.15);
    -moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size:16px;
    color:#fff;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;

}
    
        </style>  
            </head>
<!-- ##### Login Area Start ##### -->
<br><br><br><br><br><br><br><br><br><br><br>
<section class="login-area section-padding-100" style="margin-left: -340px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">

                  
                    <div class="login-form">
                        <div class="wrap">

                        <form class="user" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                             <h1 style="color: rgb(255, 255, 255);" class="h4 text-gray-900 mb-4">&nbsp;&nbsp;&nbsp;&nbsp;<img  src="assets/img/0.png">&nbsp;&nbsp;</h1>
                            <div class="form-group">
                                <!-- <label for="exampleInputEmail1">Email</label> -->
                                <input type="text" name="nom" class="form-control" placeholder="Enter votre nom" [(ngModel)]="form.email" required email #email="ngModel">
                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleInputPassword1">Password</label> -->
                                <input type="password" name="password" class="form-control" placeholder="Entrer votre Password" [(ngModel)]="form.password" required password #password="ngModel">
                            </div>
                            &nbsp;&nbsp; <button
                            style=" background-color: rgb(216, 141, 106);
                                    color:rgb(0, 0, 0);
                                    width: 80%;
                                    height: 40px;
                                    border: 0;
                                    font-size: 14px;
                                    font-weight: 200;
                                    margin-top: 10px;
                                    outline: 0;
                                    border-radius: 20px;

                                    cursor: pointer;
                                    letter-spacing: 1px;
                                    transition: background-color 0.5s ease;"
                             type="submit" class=""><b>Se Connecter</b></button>
                            <div class="form-group">
                            </div>
                        </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

    
</body>
</html>